<div class ="notice"><%= flash[:notice] %></div>
<div class ="notice"><%= flash[:create] %></div>
<div class ="notice"><%= flash[:update] %></div>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div class="row">
				<div class="col-xs-12">
			<h2>User info</h2>
			<%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'100x100'%>
				</div>
			</div>
			<table class="table table-hover">
				<tr>
					<td>name</td>
					<td><%=user.name%></td>
				</tr>
				<tr>
					<td>introduction</td>
					<td><%=user.introduction%></td>
				</tr>
				<tr>
					<td>follows</td>
					<td>
						<%= link_to (followed_path(user)) do %>
							<%= user.following_user.count %>
						<%end%>
					</td>
				</tr>
				<tr>
					<td>followers</td>
					<td>
						<%= link_to (follower_path(user)) do %>
							<%=  user.follower_user.count %>
						<%end%>
					</td>
				</tr>
			</table>
			<div class="row">
				<div class="col-lg-12">
					<% if user.id == current_user.id %>
						<%= link_to (edit_user_path(current_user)) do %>
						<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						<%end%>
					<%end%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<% if user.id != current_user.id %>
						<% if current_user.following?(user) %>
  							<td>
  								<%=link_to "フォローを外す",unfollow_path(user.id), class: "btn btn-primary", method: :POST%>
  							</td>
  						<% else %>
  							<td class="btn btn-success">
  								<%=link_to "フォローする", follow_path(user.id), class: "btn btn-success",method: :POST %>
  							</td>
  						<%end%>
					<%end%>
				</div>
			</div>
			<h2>New book</h2>
			<%= form_for(book) do |f| %>
			<h4>Title</h4>
			<%= f.text_field :title %>

			<h4>Opinion</h4>
			<%= f.text_field :body %>

			<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
			<% end %>
		</div>